<div class="col-sm-3 col-xl-2 navbar">
    <div class="sidenav">
        <div id="logo">
        <img src="../images/logo.png"  alt="Beauty Scince logo">
        </div>
        <a href="#about">ABOUT US</a>
        <a href="/services">SERVICES</a>
        <a href="#contact">CONTACT</a> <br><br><br>
        <a id="text-animated" href="https://squareup.com/appointments/book/PNKZF4S3XABB3/test-appointments">
        <span>A</span><span>P</span><span>P</span><span>O</span><span>I</span><span>N</span><span>T</span><span>M</span><span>E</span><span>N</span><span>T</span><span>S</span>
        </a>
    </div>
</div>