<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../static/partials/head.ejs %>
</head>

<body>
  <div class="conteiner">

    <% include ../static/partials/messages.ejs %>

    <div class="row">
      <% include ../static/partials/navbar.ejs %>

      <div class="col-sm-9 col-xl-10 header-cont text-center">
        <div class="services-pic">
          <img src="../images/services-01.png" class="full" alt="Services picture">

          <% include ../static/partials/sign_in.ejs %>

        </div>    

        <section id="services-title">
          <h4 class="card-title">SERVICES</h4>
        </section>
        <hr>

        <section class="row row-centered"> <!-- please debug services bootstrap layout -->

          <section class="row row-centered">

            <section class="col-lg-3 description col-centered">
              <a href="#service 1">
                <h4 class="card-title">SERVICE 1</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

            <section class="col-lg-3 description col-centered">
              <a href="#service 2">
                <h4 class="card-title">SERVICE 2</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

            <section class="col-lg-3 description col-centered">
              <a href="#service 3">              
                <h4 class="card-title">SERVICE 3</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

            <section class="col-lg-3 description col-centered">
              <a href="#service 4">
                <h4 class="card-title">SERVICE 4</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

          </section>

          <section class="row row-centered">

            <section class="col-lg-3 description col-centered">
              <h4 class="card-title"></h4>
              <p class="card-text"></p>
            </section>

            <section class="col-lg-3 description col-centered">
              <a href="#service 5">
                <h4 class="card-title">SERVICE 5</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

            <section class="col-lg-3 description col-centered">
              <a href="#service 6">
                <h4 class="card-title">SERVICE 6</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et</p>
              </a>
            </section>

            <section class="col-lg-3 description col-centered">
              <h4 class="card-title"></h4>
              <p class="card-text"></p>
            </section>

          </section>

        </section>

      </div>
    </div>
  </div>

  <% include ../static/partials/baseScripts.ejs %>
</body>
</html>